img1 {
    width: 500px;
    height: 600px;
 }

 .container{
    margin-top: 20px;
    width: 800px;
    height: 100px;
 }

 .btn{
    margin: auto;
    margin-top: 10px;
    align-items: center;
    justify-items: center;
    display: flex;
 }